.root{
    -fx-background-color:"#008000";
    -fx-font-family: "Comic Sans MS";
}

.color0{
    -fx-background-color:"#f9dbbd";
}

.color1{
    -fx-background-color:"#ffa5ab";
}

.color2{
    -fx-background-color:"#da627d";
}

.color3{
    -fx-background-color:"#a53860";
}

.color4{
    -fx-background-color:"#450920";
}

#logoutButton{
    -fx-background-color:"#da627d";
    -fx-background-radius: 100px;
}

#logoutButton:hover{
    -fx-cursor: hand;
    -fx-background-color: "#a53860";
    -fx-font-family: "Comic Sans MS";
}

#ticketButton{
    -fx-background-color:"#FFFFFF";
    -fx-background-radius: 100px;
}

#ticketButton:hover{
    -fx-cursor: hand;
    -fx-background-color: "#cc8489";
    -fx-font-family: "Comic Sans MS";
}

#movieDesc{
    -fx-font-size: 18px;
    -fx-font-family: "Comic Sans MS";
}

#movieTitle{
    -fx-font-size: 26px;
    -fx-font-family: "Comic Sans MS";
}

#searchButton{
    -fx-background-color:"#e6959a";
    -fx-background-radius: 100px;
}

#searchButton:hover{
    -fx-cursor: hand;
    -fx-background-color: "#cc8489";
}

.searchbox{
    -fx-background-color:"#FFFFFF";
    -fx-background-radius: 100px;
    -fx-font-family: "Comic Sans MS";
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.my-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.my-scroll-pane > .viewport {
    -fx-background-color: #f9dbbd;
}