.root{
    -fx-background-color:"#ffa5ab";
    -fx-font-family: "Comic Sans MS";
}

#loginButton{
    -fx-background-color:"#f9dbbd";
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#loginButton:hover{
    -fx-cursor: hand;
    -fx-background-color: "#FCDFC0";
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

#registerLink{
    -fx-text-fill:"#5A1C51";
}

.textField{
    -fx-background-color: "#F9EBF7";
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

