#seatButton{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 25px;
    -fx-background-color:"#fffaba";
    -fx-background-radius: 100px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-color: "#dc4423";
}

#seatButton:hover{
    fx-cursor: hand;
    -fx-background-color:"#ffcaba";
}

#seatButton:selected{
    -fx-background-color:"#f0b087";
    -fx-border-color: "#dc4423";
}

AnchorPane{
    -fx-background-color: transparent;
}